<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6055655817206" version="0.0.1">
  <name>并购家</name>
  <description>Example For APICloud.</description>
  <author email="developer@apicloud.com" href="http://www.apicloud.com">Developer</author>
  <!--<content src="qd.html"/>-->
  <content src="http://192.168.0.140:6060/h5_static/topic_group/quanzi/index.html"/>
  <preference name="pageBounce" value="false"/><!--配置页面是否弹动-->
  <preference name="appBackground" value="#fff"/><!--配置App全局背景-->
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/><!--配置Window默认背景-->
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/><!--配置Frame默认背景-->
  <preference name="hScrollBarEnabled" value="true"/>
  <preference name="vScrollBarEnabled" value="true"/><!--配置页面默认是否显示滚动条-->
  <preference name="autoLaunch" value="true"/><!--配置启动页是否自动隐藏-->
  <preference name="fullScreen" value="false"/><!--配置应用是否全屏运行-->
  <preference name="autoUpdate" value="true"/><!--配置应用是否自动检测更新-->
  <preference name="smartUpdate" value="true"/><!--配置应用是否支持增量更新、云修复-->
  <preference name="debug" value="false"/><!--配置应用开启/关闭调试模式-->
  <preference name="statusBarAppearance" value="true"/><!--配置iOS状态栏和页面是否重合-->
  <preference name="softInputMode" value="auto"/><!--配置键盘弹出方式-->
  <permission name="readPhoneState"/><!--读取手机状态和身份-->
  <permission name="camera"/><!--使用拍照和视频-->
  <permission name="record"/><!--允许该应用访问设备的麦克风-->
  <permission name="location"/><!--访问地理位置信息-->
  <permission name="fileSystem"/><!--允许应用读取或写入内部存储及外部SD卡。-->
  <permission name="internet"/><!--允许应用创建网络套接字和使用自定义网络协议-->
  <permission name="bootCompleted"/><!--允许该应用在系统启动完成后立即自动启动-->
  <permission name="hardware"/><!--允许应用控制闪光灯、振动器、防止手机休眠等-->
  <!--iOS 平台上支持后台播放（声音）功能-->
  <!--<preference name="backgroundMode" value="audio"/>-->
  <access origin="*"/>
  <!--融云-->
  <feature name="rongCloud2">
  		<!--产品环境-->
  		<param name="appKey" value="4z3hlwrv4b0bt" />
  		<!--开发环境-->
		  <!-- <param name="appKey" value="pwe86ga5ph126" /> -->
  </feature>
  <!--微信分享-->
  <feature name="weiXin">
       <param name="urlScheme" value="wx2cced88cf3ec34c4"/>
       <param name="apiKey" value="wx2cced88cf3ec34c4"/>
       <param name="apiSecret" value="f74579cb538ac58749f7f8bbc45d2f5c"/>
  </feature>
</widget>
